
/*==================================
            HERO
==================================*/

.hero{

    min-height:100vh;

    display:flex;

    align-items:center;

    position:relative;

    overflow:hidden;

    padding-top:120px;

}
.hero-container{

    display:grid;

    grid-template-columns:1.1fr .9fr;

    align-items:center;

    gap:80px;

}
.hero-content{

    max-width:650px;

}
.hero-tag{

    display:inline-block;

    margin-bottom:20px;

    color:var(--gray);

    letter-spacing:3px;

    font-size:.9rem;

    text-transform:uppercase;

}

.hero h1{

    font-size:clamp(3.5rem,7vw,6.5rem);

    line-height:.95;

    font-weight:800;

    margin-bottom:30px;

}

.hero p{

    font-size:1.15rem;

    color:var(--gray);

    max-width:550px;

    margin-bottom:40px;

    line-height:1.8;

}
.hero-buttons{

    display:flex;

    gap:20px;

    flex-wrap:wrap;

}
.hero-visual{

    position:relative;

    height:650px;

    display:flex;

    justify-content:center;

    align-items:center;

}
